@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/taustakuva.jpg");
    background-size: cover;
}

h1 {
    color: white;
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#helmiradio, #bluesrocklegends, #bluesbaby{
    margin: 0 auto;
    text-align: center;
    float: left;
    padding: 50px;
}

#nappi_helmi, #nappi_bluesrocklegends, #nappi_bluesbaby {
    opacity: 0.9;
    height: 150px;
    width: 150px;
    margin: auto;
}

#nappikuva_helmi, #nappikuva_bluesrocklegends, #nappikuva_bluesbaby {
    display: block;
    width: 76%;
    padding: 12%;
    height: 100px;
    width: 100px;
    margin: auto;
}